.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
}

@media (max-width: 635px) {
  .footer {
    font-size: 12px;
    line-height: 14px;
  }
}
