.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 49px;
}

.room > img {
  width: 100%;
  border-radius: 24px;
  height: 269px;
}

.room__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  margin-top: 21px;
}

.room__host {
  display: flex;
  padding: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 12px;
}

.room__types {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #828282;
}
.room__types > h5,
.room__types > h6 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.room__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room__rating > i {
  color: #eb5757;
}

.room__rating > h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}

.room__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-top: 21px;
}
